USE [master]
GO
/****** Object:  Database [SpotMeDB]    Script Date: 11/03/2026 10:49:33 pm ******/
CREATE DATABASE [SpotMeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpotMeDB', FILENAME = N'C:\Users\user\SpotMeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SpotMeDB_log', FILENAME = N'C:\Users\user\SpotMeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpotMeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpotMeDB]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 11/03/2026 10:49:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Category] [nvarchar](50) NULL,
	[Icon] [nvarchar](10) NULL,
	[Timestamp] [datetime] NOT NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 11/03/2026 10:49:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[MemberName] [nvarchar](100) NOT NULL,
	[BookingClassId] [int] NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[CheckInTime] [datetime] NULL,
	[ClassDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingClasses]    Script Date: 11/03/2026 10:49:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingClasses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[TrainerName] [nvarchar](100) NOT NULL,
	[TrainerId] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Capacity] [int] NOT NULL,
	[BookedCount] [int] NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 11/03/2026 10:49:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[BookingDate] [datetime] NULL,
	[ClassDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 11/03/2026 10:49:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Gender] [nvarchar](10) NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[DateJoined] [datetime] NULL,
	[IsActive] [bit] NULL,
	[FitnessGoal] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionBookings]    Script Date: 11/03/2026 10:49:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionBookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/03/2026 10:49:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 11/03/2026 10:49:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[Specializations] [nvarchar](255) NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[HireDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/03/2026 10:49:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLog] ON 

INSERT [dbo].[ActivityLog] ([Id], [Action], [Description], [Category], [Icon], [Timestamp], [UserId]) VALUES (1, N'Member Updated', N'124124 profile updated', N'Member', N'●', CAST(N'2026-03-11T02:59:15.093' AS DateTime), NULL)
INSERT [dbo].[ActivityLog] ([Id], [Action], [Description], [Category], [Icon], [Timestamp], [UserId]) VALUES (2, N'Test Activity', N'This is a test', N'Test', N'?', CAST(N'2026-03-11T03:00:10.367' AS DateTime), NULL)
INSERT [dbo].[ActivityLog] ([Id], [Action], [Description], [Category], [Icon], [Timestamp], [UserId]) VALUES (3, N'Member Updated', N'51532232 profile updated', N'Member', N'●', CAST(N'2026-03-11T03:02:42.763' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ActivityLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([Id], [MemberId], [MemberName], [BookingClassId], [ClassName], [CheckInTime], [ClassDate], [Status], [CreatedDate]) VALUES (1, 1, N'Jonale', 5, N'Yoga', CAST(N'2026-03-08T19:31:55.853' AS DateTime), CAST(N'2026-03-08' AS Date), N'Present', CAST(N'2026-03-08T19:31:55.860' AS DateTime))
INSERT [dbo].[Attendance] ([Id], [MemberId], [MemberName], [BookingClassId], [ClassName], [CheckInTime], [ClassDate], [Status], [CreatedDate]) VALUES (2, 4003, N'Jason Burke', 5, N'Yoga', CAST(N'2026-03-09T11:39:01.267' AS DateTime), CAST(N'2026-03-08' AS Date), N'Present', CAST(N'2026-03-09T11:39:01.277' AS DateTime))
INSERT [dbo].[Attendance] ([Id], [MemberId], [MemberName], [BookingClassId], [ClassName], [CheckInTime], [ClassDate], [Status], [CreatedDate]) VALUES (3, 4003, N'Jason Burke', 2009, N'CrossFit', CAST(N'2026-03-09T11:46:25.930' AS DateTime), CAST(N'2026-03-11' AS Date), N'Present', CAST(N'2026-03-09T11:46:25.940' AS DateTime))
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingClasses] ON 

INSERT [dbo].[BookingClasses] ([Id], [Category], [TrainerName], [TrainerId], [Description], [Capacity], [BookedCount], [StartTime], [EndTime], [Status], [IsActive]) VALUES (1, N'Yoga', N'Mike Johnson', 1, N'Morning Yoga Session - Relax and unwind', 10, 0, CAST(N'2026-03-06T11:07:51.623' AS DateTime), CAST(N'2026-03-06T12:07:51.623' AS DateTime), N'Upcoming', 0)
INSERT [dbo].[BookingClasses] ([Id], [Category], [TrainerName], [TrainerId], [Description], [Capacity], [BookedCount], [StartTime], [EndTime], [Status], [IsActive]) VALUES (2, N'Pilates', N'Sarah Williams', 2, N'Intermediate Pilates for core strength', 8, 0, CAST(N'2026-03-06T21:07:51.623' AS DateTime), CAST(N'2026-03-06T22:07:51.623' AS DateTime), N'Upcoming', 0)
INSERT [dbo].[BookingClasses] ([Id], [Category], [TrainerName], [TrainerId], [Description], [Capacity], [BookedCount], [StartTime], [EndTime], [Status], [IsActive]) VALUES (3, N'Boxing', N'Mike Johnson', 1, N'High intensity boxing workout', 12, 0, CAST(N'2026-03-07T11:07:51.623' AS DateTime), CAST(N'2026-03-07T12:07:51.623' AS DateTime), N'Upcoming', 0)
SET IDENTITY_INSERT [dbo].[BookingClasses] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [Name], [Email], [Phone], [Gender], [PhotoPath], [DateJoined], [IsActive], [FitnessGoal]) VALUES (1, N'Jonale', N'Jonale@gmail.com', N'09276445824', N'Female', N'C:\Users\user\source\repos\GymClassBooking.SpotMe\GymClassBooking.SpotMe\bin\Debug\MemberPhotos\Jonale_20260304231427.jpg', CAST(N'2026-03-04T22:48:51.340' AS DateTime), 1, NULL)
INSERT [dbo].[Members] ([Id], [Name], [Email], [Phone], [Gender], [PhotoPath], [DateJoined], [IsActive], [FitnessGoal]) VALUES (2, N'123213', N'123132@gmail.com1', N'321323131231', N'Female', NULL, CAST(N'2026-03-03T16:04:45.637' AS DateTime), 0, NULL)
INSERT [dbo].[Members] ([Id], [Name], [Email], [Phone], [Gender], [PhotoPath], [DateJoined], [IsActive], [FitnessGoal]) VALUES (3, N'Member', N'123@gmail.com', N'09278556728', N'Male', NULL, CAST(N'2026-03-11T21:21:23.613' AS DateTime), 1, N'Achieve a fit body.')
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[SessionBookings] ON 

INSERT [dbo].[SessionBookings] ([Id], [SessionId], [MemberId], [BookingDate], [Status], [CreatedAt]) VALUES (1, 5, 1, CAST(N'2026-03-07T22:36:37.133' AS DateTime), N'Cancelled', CAST(N'2026-03-07T22:36:37.143' AS DateTime))
INSERT [dbo].[SessionBookings] ([Id], [SessionId], [MemberId], [BookingDate], [Status], [CreatedAt]) VALUES (2, 5, 1, CAST(N'2026-03-08T19:45:06.267' AS DateTime), N'Cancelled', CAST(N'2026-03-08T19:45:06.270' AS DateTime))
INSERT [dbo].[SessionBookings] ([Id], [SessionId], [MemberId], [BookingDate], [Status], [CreatedAt]) VALUES (3, 5, 1, CAST(N'2026-03-08T20:08:55.103' AS DateTime), N'Active', CAST(N'2026-03-08T20:08:55.107' AS DateTime))
SET IDENTITY_INSERT [dbo].[SessionBookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [Username], [Email], [Password], [CreatedAt], [IsActive]) VALUES (1, N'miguel', N'adad@gmail.com', N'123', CAST(N'2026-03-08T18:03:22.000' AS DateTime), 0)
INSERT [dbo].[Staff] ([Id], [Username], [Email], [Password], [CreatedAt], [IsActive]) VALUES (2, N'123', N'123@gmail.com', N'123', CAST(N'2026-03-08T18:12:44.000' AS DateTime), 0)
INSERT [dbo].[Staff] ([Id], [Username], [Email], [Password], [CreatedAt], [IsActive]) VALUES (9, N'Adi', N'Adi@gmail.com', N'123', CAST(N'2026-03-08T18:58:46.070' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Trainers] ON 

INSERT [dbo].[Trainers] ([Id], [Name], [Email], [Phone], [DateOfBirth], [Gender], [Address], [Specializations], [PhotoPath], [HireDate], [IsActive]) VALUES (1, N'123123', N'1231232@gmail.com', N'24142433454353', CAST(N'2026-03-01' AS Date), N'Male', N'131231232131231231231', N'General Fitness', NULL, CAST(N'2026-03-04T23:55:05.877' AS DateTime), 0)
INSERT [dbo].[Trainers] ([Id], [Name], [Email], [Phone], [DateOfBirth], [Gender], [Address], [Specializations], [PhotoPath], [HireDate], [IsActive]) VALUES (2, N'Miguel', N'miguel123@gmail.com', N'09278232872', CAST(N'2026-03-05' AS Date), N'Male', N'N/A', N'Yoga,Boxing,Cardio', N'C:\Users\user\source\repos\GymClassBooking.SpotMe\GymClassBooking.SpotMe\bin\Debug\TrainerPhotos\Miguel_20260305001844.jpg', CAST(N'2026-03-05T00:08:27.833' AS DateTime), 1)
INSERT [dbo].[Trainers] ([Id], [Name], [Email], [Phone], [DateOfBirth], [Gender], [Address], [Specializations], [PhotoPath], [HireDate], [IsActive]) VALUES (1003, N'345345', N'34543@gmail.com', N'124235346', CAST(N'2026-03-05' AS Date), NULL, N'2543534345', N'Yoga', NULL, CAST(N'2026-03-05T13:07:14.240' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Trainers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password], [FullName], [Role], [CreatedDate]) VALUES (1, N'miguelbacay123@gmail.com', N'123', N'miguelbacay123@gmail.com', N'Member', CAST(N'2026-02-24T00:30:14.490' AS DateTime))
INSERT [dbo].[Users] ([Id], [Email], [Password], [FullName], [Role], [CreatedDate]) VALUES (5, N'Adi@gmail.com', N'123', N'Adi@gmail.com', N'Member', CAST(N'2026-03-08T18:58:46.077' AS DateTime))
INSERT [dbo].[Users] ([Id], [Email], [Password], [FullName], [Role], [CreatedDate]) VALUES (1002, N'123@gmail.com', N'123', N'123@gmail.com', N'Member', CAST(N'2026-03-11T21:18:26.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_ActivityLog_Timestamp]    Script Date: 11/03/2026 10:49:34 pm ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLog_Timestamp] ON [dbo].[ActivityLog]
(
	[Timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivityLog_UserId]    Script Date: 11/03/2026 10:49:34 pm ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLog_UserId] ON [dbo].[ActivityLog]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Members__A9D10534FB7A7914]    Script Date: 11/03/2026 10:49:34 pm ******/
ALTER TABLE [dbo].[Members] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SessionBookings_MemberId]    Script Date: 11/03/2026 10:49:34 pm ******/
CREATE NONCLUSTERED INDEX [IX_SessionBookings_MemberId] ON [dbo].[SessionBookings]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SessionBookings_SessionId]    Script Date: 11/03/2026 10:49:34 pm ******/
CREATE NONCLUSTERED INDEX [IX_SessionBookings_SessionId] ON [dbo].[SessionBookings]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SessionBookings_Status]    Script Date: 11/03/2026 10:49:34 pm ******/
CREATE NONCLUSTERED INDEX [IX_SessionBookings_Status] ON [dbo].[SessionBookings]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__536C85E4CC90D67D]    Script Date: 11/03/2026 10:49:34 pm ******/
ALTER TABLE [dbo].[Staff] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__A9D10534E57B6AE6]    Script Date: 11/03/2026 10:49:34 pm ******/
ALTER TABLE [dbo].[Staff] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Trainers__A9D10534A1638B62]    Script Date: 11/03/2026 10:49:34 pm ******/
ALTER TABLE [dbo].[Trainers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105341DABD7D7]    Script Date: 11/03/2026 10:49:34 pm ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLog] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ('Absent') FOR [Status]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BookingClasses] ADD  DEFAULT ((0)) FOR [BookedCount]
GO
ALTER TABLE [dbo].[BookingClasses] ADD  DEFAULT ('Upcoming') FOR [Status]
GO
ALTER TABLE [dbo].[BookingClasses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Confirmed') FOR [Status]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [DateJoined]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SessionBookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[SessionBookings] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[SessionBookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Trainers] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Trainers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Member') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([BookingClassId])
REFERENCES [dbo].[BookingClasses] ([Id])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[SessionBookings]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[SessionBookings]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[BookingClasses] ([Id])
GO
ALTER TABLE [dbo].[SessionBookings]  WITH CHECK ADD  CONSTRAINT [CK_SessionBookingStatus] CHECK  (([Status]='Cancelled' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[SessionBookings] CHECK CONSTRAINT [CK_SessionBookingStatus]
GO
USE [master]
GO
